
    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4 text-center">
            <h1 class="display-3">Welcome to Dictionary Game!</h1>
            <p class="lead">Train your Bulgarian-English knowledge - you can add your custom words, or play with all words in dictionary.</p>
            <a href="/Users/Login" class="btn btn-primary">Login</a>
            <div> or </div>
            <a href="/Users/Register" class="btn btn-primary">Register</a>
            <div> to continue</div>
        </header>

    </div>
    <!-- /.container -->

